		<div class="col-xs-12 col-sm-12 no-float">
			{% for alert in alerts %}
			<div class="alert alert-{{ alert.0|e }} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{ alert.1|raw }}
			</div>
			{% endfor %}
		</div>

